body {background: black;}

#body{
  font-family: sans-serif;
  font-weight: lighter;
  color: lightgray;
  background-color: #222224;
  margin: 0 auto;
  padding: 1.5rem;
  max-width: 960px;
  position: relative;
  z-index: 1;
}

@font-face {
  font-family: matrix;
  src: url('matrix.ttf');
}

header {
  font-family: matrix;
}

header h3 {
  text-align: center;
}

#h301 {
  letter-spacing: 1rem;
}

#c {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
}

p, h1, h2, h3, h4, h5, h6, figure, header{
  margin-bottom: 1rem;
  margin-top: 1rem;
  line-height: 1.2rem;
}

blockquote {
  font-family: monospace;
  text-align: center;
  font-weight: lighter;
  font-size: 1rem;
}

h1 {
  font-weight: bold;
  font-size: 3rem;
  text-align: center;
}

h2 {
  font-weight: bold;
  font-size: 1.2rem;
  clear: both;
}

h3 {
  font-weight: bold;
  font-size: 1rem;
}

a {
  color: #2980B9;
}

ul li::before {
  content: "•";
  margin-right: 8px;
}

p {
  text-align: justify;
}

#poster {
  width: 100%;
  max-width: 400px;
}

figure {
  float: right;
  margin-left: 2rem;
}

figcaption {
  margin: 5px 0 0;
  font-size: 12px;
  font-weight: 300;
  text-align: center;
  font-style: italic;
}

#trailer {
  display: block;
  background: black;
  border: none;
  height: 470px;
  width: 100%;
  max-width: 960px;
  margin: 0 auto; /* alinha o iframe */
  margin-top: 2rem;
}

#details {
  line-height: 1.2rem;
}

#details ul {
  margin-left: 1rem;
}

.container {
  display: flex;
}

.container1 {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.container2 {
  display: flex;
  margin-left: 1rem;
}

#img1 {
  display: flex;
  width: 250px;
  cursor: pointer;
}

#img2 {
  display: flex;
  width: 250px;
  cursor: pointer;
}

#img3 {
  display: flex;
  width: 250px;
  cursor: pointer;
}

#main_img {
  display: flex;
  width: 100%;
  max-width: 700px;
  box-shadow: 0 0 5px 3px rgba(0, 140, 186, 0.5);
}

footer{
  margin-top: 2rem;
  text-align: center;
  line-height: 1.2rem;
}

footer address {
  font-size: 0.8rem;
  font-style: italic;
}

footer small{
  font-size: 0.8rem;
}
